@import "tailwindcss";
 
html, body {
    min-height: 100%;
    background-color: #cff4f4;
    color: #1a3a5c;
    font-family: 'Courier New', Courier, monospace;
}
 
body {
    min-height: 100vh;
}
 